{
  "openapi": "3.0.0",
  "info": {
    "title": "DolarApi.com",
    "version": "1.1.0",
    "description": "<div class=\"flex flex-col\">\n\n  API desarrollada en <a href=\"https://es.js.org?ref=dolarapi.com\" target=\"_blank\">EsJS</a> que brinda información actualizada sobre las cotizaciones del Dólar en Bolivia.\n\n  ¿Encontraste útil esta API? <strong>¡Dejá tu ⭐ en <a href=\"https://github.com/enzonotario/esjs-dolar-api\" alt=\"GitHub\" target=\"_blank\">GitHub</a>!</strong>\n\n## Demo\n[App.DolarApi.com](https://app.dolarapi.com)"
  },
  "servers": [
    {
      "url": "https://bo.dolarapi.com",
      "description": "Producción"
    },
    {
      "url": "http://localhost:5173",
      "description": "Local"
    }
  ],
  "paths": {
    "/v1/dolares/oficial": {
      "get": {
        "summary": "Dólar Oficial",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización del dólar estadounidense en pesos bolivianos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Estadounidense",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-dolar-oficial"
      }
    },
    "/v1/dolares/binance": {
      "get": {
        "summary": "Dólar Binance",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización del dólar estadounidense en pesos bolivianos según Binance",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Estadounidense",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-dolar-binance"
      }
    },
    "/v1/estado": {
      "get": {
        "summary": "Estado de la API",
        "tags": [
          "API"
        ],
        "responses": {
          "200": {
            "description": "Devuelve el estado de la API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                }
              }
            }
          }
        },
        "operationId": "get-estado"
      }
    }
  },
  "components": {
    "schemas": {
      "Cotizacion": {
        "title": "Cotizacion",
        "type": "object",
        "x-stoplight": {
          "id": "ce96aa7960850"
        },
        "x-examples": {
          "Example 1": {
            "fechaActualizacion": "2021-01-01T00:00:00.000Z",
            "compra": 123.99,
            "venta": 132.99
          }
        },
        "properties": {
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          },
          "casa": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "moneda": {
            "type": "string"
          },
          "fechaActualizacion": {
            "type": "string"
          }
        },
        "required": [
          "venta",
          "casa",
          "nombre",
          "moneda",
          "fechaActualizacion"
        ]
      },
      "Estado": {
        "title": "Estado",
        "x-stoplight": {
          "id": "ogwpb2wxiqwqh"
        },
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "aleatorio": {
            "type": "integer"
          }
        },
        "x-examples": {
          "Example 1": {
            "estado": "Disponible",
            "aleatorio": 1234
          }
        }
      }
    }
  }
}
