{
  "openapi": "3.0.0",
  "info": {
    "title": "DolarApi.com",
    "version": "1.1.0",
    "description": "<div class=\"flex flex-col\">\n\n  API desarrollada en <a href=\"https://es.js.org?ref=dolarapi.com\" target=\"_blank\">EsJS</a> que brinda información actualizada sobre las cotizaciones del Dólar en Venezuela.\n\n  ¿Encontraste útil esta API? <strong>¡Dejá tu ⭐ en <a href=\"https://github.com/enzonotario/esjs-dolar-api\" alt=\"GitHub\" target=\"_blank\">GitHub</a>!</strong>\n\n## Demo\n[App.DolarApi.com](https://app.dolarapi.com)"
  },
  "servers": [
    {
      "url": "https://ve.dolarapi.com",
      "description": "Producción"
    },
    {
      "url": "http://localhost:5173",
      "description": "Local"
    }
  ],
  "paths": {
    "/v1/dolares": {
      "get": {
        "summary": "Dólares",
        "tags": ["Cotización actual Dólares"],
        "description": "Devuelve las distintas cotizaciones del Dólar en Venezuela",
        "responses": {
          "200": {
            "description": "Devuelve todas las cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cotizacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-dolares"
      }
    },
    "/v1/dolares/oficial": {
      "get": {
        "summary": "Dólar Oficial",
        "tags": ["Cotización actual Dólares"],
        "description": "Cotización del Dólar Oficial en Venezuela",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Oficial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-dolar-oficial"
      }
    },
    "/v1/dolares/paralelo": {
      "get": {
        "summary": "Dólar Paralelo",
        "tags": ["Cotización actual Dólares"],
        "description": "Cotización del Dólar Paralelo en Venezuela",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Paralelo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-dolar-paralelo"
      },
      "parameters": []
    },
    "/v1/cotizaciones": {
      "get": {
        "summary": "Cotizaciones",
        "tags": ["Cotizaciones"],
        "description": "Devuelve las cotizaciones del Dólar Oficial y Euro oficial en Venezuela",
        "responses": {
          "200": {
            "description": "Devuelve todas las cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CotizacionMoneda"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-cotizaciones"
      }
    },
    "/v1/euros": {
      "get": {
        "summary": "Euros",
        "tags": ["Cotización actual Euros"],
        "description": "Devuelve las cotizaciones del Euro oficial (BCV) y paralelo (Yadio) en Venezuela",
        "responses": {
          "200": {
            "description": "Devuelve todas las cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CotizacionMoneda"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-euros"
      }
    },
    "/v1/euros/oficial": {
      "get": {
        "summary": "Euro Oficial",
        "tags": ["Cotización actual Euros"],
        "description": "Cotización del Euro oficial (BCV) en Venezuela",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Euro oficial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionMoneda"
                }
              }
            }
          }
        },
        "operationId": "get-euro-oficial"
      }
    },
    "/v1/euros/paralelo": {
      "get": {
        "summary": "Euro Paralelo",
        "tags": ["Cotización actual Euros"],
        "description": "Cotización del Euro paralelo (Yadio) en Venezuela",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Euro paralelo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionMoneda"
                }
              }
            }
          }
        },
        "operationId": "get-euro-paralelo"
      }
    },
    "/v1/estado": {
      "get": {
        "summary": "Estado de la API",
        "tags": ["API"],
        "responses": {
          "200": {
            "description": "Devuelve el estado de la API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                }
              }
            }
          }
        },
        "operationId": "get-estado"
      }
    },
    "/v1/historicos/dolares": {
      "get": {
        "summary": "Histórico Dólares",
        "tags": ["Históricos"],
        "description": "Devuelve el último valor de cada día para Dólar oficial y paralelo, ordenados por fecha",
        "responses": {
          "200": {
            "description": "Array de cotizaciones históricas (oficial y paralelo por día)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CotizacionHistorico"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-historicos-dolares"
      }
    },
    "/v1/historicos/dolares/oficial": {
      "get": {
        "summary": "Histórico Dólar Oficial",
        "tags": ["Históricos"],
        "description": "Devuelve el último valor de cada día del Dólar Oficial",
        "responses": {
          "200": {
            "description": "Array de cotizaciones históricas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CotizacionHistorico"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-historicos-dolar-oficial"
      }
    },
    "/v1/historicos/dolares/paralelo": {
      "get": {
        "summary": "Histórico Dólar Paralelo",
        "tags": ["Históricos"],
        "description": "Devuelve el último valor de cada día del Dólar Paralelo",
        "responses": {
          "200": {
            "description": "Array de cotizaciones históricas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CotizacionHistorico"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-historicos-dolar-paralelo"
      }
    },
    "/v1/historicos/euros": {
      "get": {
        "summary": "Histórico Euros",
        "tags": ["Históricos"],
        "description": "Devuelve el último valor de cada día para Euro oficial y paralelo, ordenados por fecha",
        "responses": {
          "200": {
            "description": "Array de cotizaciones históricas (oficial y paralelo por día)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CotizacionHistoricoEur"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-historicos-euros"
      }
    },
    "/v1/historicos/euros/oficial": {
      "get": {
        "summary": "Histórico Euro Oficial",
        "tags": ["Históricos"],
        "description": "Devuelve el último valor de cada día del Euro Oficial",
        "responses": {
          "200": {
            "description": "Array de cotizaciones históricas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CotizacionHistoricoEur"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-historicos-euro-oficial"
      }
    },
    "/v1/historicos/euros/paralelo": {
      "get": {
        "summary": "Histórico Euro Paralelo",
        "tags": ["Históricos"],
        "description": "Devuelve el último valor de cada día del Euro Paralelo",
        "responses": {
          "200": {
            "description": "Array de cotizaciones históricas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CotizacionHistoricoEur"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-historicos-euro-paralelo"
      }
    }
  },
  "components": {
    "schemas": {
      "CotizacionHistorico": {
        "title": "CotizacionHistorico",
        "type": "object",
        "properties": {
          "fuente": {
            "type": "string",
            "enum": ["oficial", "paralelo"]
          },
          "compra": {
            "type": "number",
            "nullable": true
          },
          "venta": {
            "type": "number",
            "nullable": true
          },
          "promedio": {
            "type": "number"
          },
          "fecha": {
            "type": "string",
            "format": "date",
            "description": "Fecha en formato YYYY-MM-DD"
          }
        },
        "required": ["fuente", "promedio", "fecha"]
      },
      "CotizacionHistoricoEur": {
        "title": "CotizacionHistoricoEur",
        "type": "object",
        "properties": {
          "fuente": {
            "type": "string",
            "enum": ["oficial", "paralelo"]
          },
          "moneda": {
            "type": "string",
            "enum": ["EUR"]
          },
          "compra": {
            "type": "number",
            "nullable": true
          },
          "venta": {
            "type": "number",
            "nullable": true
          },
          "promedio": {
            "type": "number"
          },
          "fecha": {
            "type": "string",
            "format": "date",
            "description": "Fecha en formato YYYY-MM-DD"
          }
        },
        "required": ["fuente", "moneda", "promedio", "fecha"]
      },
      "Cotizacion": {
        "title": "Cotizacion",
        "type": "object",
        "x-stoplight": {
          "id": "ce96aa7960850"
        },
        "x-examples": {
          "Example 1": {
            "fechaActualizacion": "2021-01-01T00:00:00.000Z",
            "compra": 123.99,
            "venta": 132.99
          }
        },
        "properties": {
          "fuente": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          },
          "promedio": {
            "type": "number"
          },
          "fechaActualizacion": {
            "type": "string"
          }
        },
        "required": ["promedio", "fuente", "nombre", "fechaActualizacion"]
      },
      "CotizacionMoneda": {
        "title": "CotizacionMoneda",
        "type": "object",
        "properties": {
          "fuente": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "moneda": {
            "type": "string"
          },
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          },
          "promedio": {
            "type": "number"
          },
          "fechaActualizacion": {
            "type": "string"
          }
        },
        "required": ["promedio", "fuente", "nombre", "fechaActualizacion"]
      },
      "Estado": {
        "title": "Estado",
        "x-stoplight": {
          "id": "ogwpb2wxiqwqh"
        },
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "aleatorio": {
            "type": "integer"
          }
        },
        "x-examples": {
          "Example 1": {
            "estado": "Disponible",
            "aleatorio": 1234
          }
        }
      }
    }
  }
}
