{
  "openapi": "3.0.0",
  "info": {
    "title": "DolarApi.com",
    "version": "1.1.0",
    "description": "<div class=\"flex flex-col\">\n\n  API desarrollada en <a href=\"https://es.js.org?ref=dolarapi.com\" target=\"_blank\">EsJS</a> que brinda información actualizada sobre las cotizaciones del Dólar en Venezuela.\n\n  ¿Encontraste útil esta API? <strong>¡Dejá tu ⭐ en <a href=\"https://github.com/enzonotario/esjs-dolar-api\" alt=\"GitHub\" target=\"_blank\">GitHub</a>!</strong>\n\n## Demo\n[App.DolarApi.com](https://app.dolarapi.com)"
  },
  "servers": [
    {
      "url": "https://ve.dolarapi.com",
      "description": "Producción"
    },
    {
      "url": "http://localhost:5173",
      "description": "Local"
    }
  ],
  "paths": {
    "/v1/dolares": {
      "get": {
        "summary": "Dólares",
        "tags": ["Cotización actual Dólares"],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve todas las cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cotizacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-dolares",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://dolarapi.com/v1/dolares"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://dolarapi.com/v1/dolares\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://dolarapi.com/v1/dolares\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://dolarapi.com/v1/dolares\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://dolarapi.com/v1/dolares\")"
          }
        ]
      }
    },
    "/v1/dolares/oficial": {
      "get": {
        "summary": "Dólar Oficial",
        "tags": ["Cotización actual Dólares"],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Oficial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-dolar-oficial",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://dolarapi.com/v1/dolares/oficial"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://dolarapi.com/v1/dolares/oficial\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://dolarapi.com/v1/dolares/oficial\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://dolarapi.com/v1/dolares/oficial\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://dolarapi.com/v1/dolares/oficial\")"
          }
        ]
      }
    },
    "/v1/dolares/paralelo": {
      "get": {
        "summary": "Dólar Paralelo",
        "tags": ["Cotización actual Dólares"],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Paralelo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-dolar-paralelo",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://dolarapi.com/v1/dolares/paralelo"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://dolarapi.com/v1/dolares/paralelo\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://dolarapi.com/v1/dolares/paralelo\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://dolarapi.com/v1/dolares/paralelo\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://dolarapi.com/v1/dolares/paralelo\")"
          }
        ]
      },
      "parameters": []
    },
    "/v1/dolares/bitcoin": {
      "get": {
        "summary": "Dólar Bitcoin",
        "tags": ["Cotización actual Dólares"],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Bitcoin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-dolar-bitcoin",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://dolarapi.com/v1/dolares/bitcoin"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://dolarapi.com/v1/dolares/bitcoin\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://dolarapi.com/v1/dolares/bitcoin\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://dolarapi.com/v1/dolares/bitcoin\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://dolarapi.com/v1/dolares/bitcoin\")"
          }
        ]
      },
      "parameters": []
    },
    "/v1/estado": {
      "get": {
        "summary": "Estado de la API",
        "tags": ["API"],
        "responses": {
          "200": {
            "description": "Devuelve el estado de la API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                }
              }
            }
          }
        },
        "operationId": "get-estado",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://dolarapi.com/v1/estado"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://dolarapi.com/v1/estado\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://dolarapi.com/v1/estado\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://dolarapi.com/v1/estado\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://dolarapi.com/v1/estado\")"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Cotizacion": {
        "title": "Cotizacion",
        "type": "object",
        "x-stoplight": {
          "id": "ce96aa7960850"
        },
        "x-examples": {
          "Example 1": {
            "fechaActualizacion": "2021-01-01T00:00:00.000Z",
            "compra": 123.99,
            "venta": 132.99
          }
        },
        "properties": {
          "fuente": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          },
          "promedio": {
            "type": "number"
          },
          "fechaActualizacion": {
            "type": "string"
          }
        },
        "required": ["promedio", "fuente", "nombre", "fechaActualizacion"]
      },
      "Estado": {
        "title": "Estado",
        "x-stoplight": {
          "id": "ogwpb2wxiqwqh"
        },
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "aleatorio": {
            "type": "integer"
          }
        },
        "x-examples": {
          "Example 1": {
            "estado": "Disponible",
            "aleatorio": 1234
          }
        }
      }
    }
  }
}
