{
  "openapi": "3.0.0",
  "info": {
    "title": "DolarApi.com",
    "version": "1.1.0",
    "description": "<div class=\"flex flex-col\">\n\n  API desarrollada en <a href=\"https://es.js.org?ref=dolarapi.com\" target=\"_blank\">EsJS</a> que brinda información actualizada sobre las cotizaciones del Dólar en Argentina.\n\n  ¿Encontraste útil esta API? <strong>¡Dejá tu ⭐ en <a href=\"https://github.com/enzonotario/esjs-dolar-api\" alt=\"GitHub\" target=\"_blank\">GitHub</a>!</strong>\n\n## Demo\n[App.DolarApi.com](https://app.dolarapi.com)"
  },
  "servers": [
    {
      "url": "https://dolarapi.com",
      "description": "Producción"
    }
  ],
  "paths": {
    "/v1/dolares": {
      "get": {
        "summary": "Dólares",
        "tags": [
          "Cotización actual Dólares"
        ],
        "description": "Devuelve la cotización actual del dólar estadounidense en Argentina. Incluye el precio de compra y venta de dólares en diferentes mercados (denominados \"casas\").",
        "responses": {
          "200": {
            "description": "Devuelve todas las cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cotizacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-dolares"
      }
    },
    "/v1/dolares/oficial": {
      "get": {
        "summary": "Dólar Oficial",
        "tags": [
          "Cotización actual Dólares"
        ],
        "description": "Cotización del dólar estadounidense en el mercado oficial. Es decir, el precio de compra y venta de dólares en bancos y casas de cambio autorizadas por el Banco Central de la República Argentina (BCRA).",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Oficial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-dolar-oficial"
      }
    },
    "/v1/dolares/blue": {
      "get": {
        "summary": "Dólar Blue",
        "tags": [
          "Cotización actual Dólares"
        ],
        "description": "Cotización del dólar estadounidense en el mercado paralelo o informal. Es decir, el precio de compra y venta de dólares en cuevas o casas de cambio no autorizadas por el Banco Central de la República Argentina (BCRA).",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Blue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-dolar-blue"
      },
      "parameters": []
    },
    "/v1/dolares/bolsa": {
      "get": {
        "summary": "Dólar Bolsa",
        "tags": [
          "Cotización actual Dólares"
        ],
        "description": "Cotización del dólar estadounidense en el mercado bursátil. Es decir, el precio de compra y venta de dólares en el mercado de valores. También conocido como **Dólar MEP**.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Bolsa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-dolar-bolsa"
      },
      "parameters": []
    },
    "/v1/dolares/contadoconliqui": {
      "get": {
        "summary": "Dólar Contado con Liquidación",
        "tags": [
          "Cotización actual Dólares"
        ],
        "description": "Cotización del dólar estadounidense en el mercado bursátil. Es decir, el precio de compra y venta de dólares en el mercado de valores. También conocido como **Dólar CCL**.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Contado con liquidación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-dolar-contadoconliqui",
        "x-sidebar-title": "Dólar CCL"
      },
      "parameters": []
    },
    "/v1/dolares/tarjeta": {
      "get": {
        "summary": "Dólar Tarjeta",
        "tags": [
          "Cotización actual Dólares"
        ],
        "description": "Es el valor de la cotización del dólar estadounidense en el mercado oficial, más el impuesto a las ganancias (30%).",
        "responses": {
          "200": {
            "description": "Devuelve el valor del Dólar Tarjeta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-dolar-tarjeta"
      },
      "parameters": []
    },
    "/v1/dolares/mayorista": {
      "get": {
        "summary": "Dólar Mayorista",
        "tags": [
          "Cotización actual Dólares"
        ],
        "description": "Cotización del dólar estadounidense en el mercado mayorista. Es decir, el precio de compra y venta de dólares en el mercado interbancario.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Mayorista",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-dolar-mayorista"
      },
      "parameters": []
    },
    "/v1/dolares/cripto": {
      "get": {
        "summary": "Dólar Cripto",
        "tags": [
          "Cotización actual Dólares"
        ],
        "description": "Cotización del dólar estadounidense en el mercado de criptomonedas. Es decir, el precio de compra y venta de dólares en el mercado de criptoactivos.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Cripto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-dolar-cripto"
      },
      "parameters": []
    },
    "/v1/ambito/dolares": {
      "get": {
        "summary": "Dólares Ámbito",
        "tags": [
          "Dólares Ámbito"
        ],
        "description": "Devuelve la cotización según Ámbito Financiero.",
        "responses": {
          "200": {
            "description": "Devuelve todas las cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CotizacionAmbito"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-ambito-dolares"
      }
    },
    "/v1/ambito/dolares/oficial": {
      "get": {
        "summary": "Dólar Oficial",
        "tags": [
          "Dólares Ámbito"
        ],
        "description": "Devuelve la cotización según Ámbito Financiero.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Oficial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionAmbito"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-ambito-dolar-oficial"
      }
    },
    "/v1/ambito/dolares/blue": {
      "get": {
        "summary": "Dólar Blue",
        "tags": [
          "Dólares Ámbito"
        ],
        "description": "Devuelve la cotización según Ámbito Financiero.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Blue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionAmbito"
                }
              }
            }
          }
        },
        "operationId": "get-ambito-dolar-blue"
      },
      "parameters": []
    },
    "/v1/ambito/dolares/bolsa": {
      "get": {
        "summary": "Dólar Bolsa",
        "tags": [
          "Dólares Ámbito"
        ],
        "description": "Devuelve la cotización según Ámbito Financiero.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Bolsa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionAmbito"
                }
              }
            }
          }
        },
        "operationId": "get-ambito-dolar-bolsa"
      },
      "parameters": []
    },
    "/v1/ambito/dolares/contadoconliqui": {
      "get": {
        "summary": "Dólar Contado con Liquidación",
        "tags": [
          "Dólares Ámbito"
        ],
        "description": "Devuelve la cotización según Ámbito Financiero.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Contado con liquidación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionAmbito"
                }
              }
            }
          }
        },
        "operationId": "get-ambito-dolar-contadoconliqui",
        "x-sidebar-title": "Dólar CCL"
      },
      "parameters": []
    },
    "/v1/ambito/dolares/tarjeta": {
      "get": {
        "summary": "Dólar Tarjeta",
        "tags": [
          "Dólares Ámbito"
        ],
        "description": "Devuelve la cotización según Ámbito Financiero.",
        "responses": {
          "200": {
            "description": "Devuelve el valor del Dólar Tarjeta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionAmbito"
                }
              }
            }
          }
        },
        "operationId": "get-ambito-dolar-tarjeta"
      },
      "parameters": []
    },
    "/v1/ambito/dolares/mayorista": {
      "get": {
        "summary": "Dólar Mayorista",
        "tags": [
          "Dólares Ámbito"
        ],
        "description": "Devuelve la cotización según Ámbito Financiero.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Mayorista",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionAmbito"
                }
              }
            }
          }
        },
        "operationId": "get-ambito-dolar-mayorista"
      },
      "parameters": []
    },
    "/v1/ambito/dolares/cripto": {
      "get": {
        "summary": "Dólar Cripto",
        "tags": [
          "Dólares Ámbito"
        ],
        "description": "Devuelve la cotización según Ámbito Financiero.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Cripto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionAmbito"
                }
              }
            }
          }
        },
        "operationId": "get-ambito-dolar-cripto"
      },
      "parameters": []
    },
    "/v1/estado": {
      "get": {
        "summary": "Estado de la API",
        "tags": [
          "API"
        ],
        "description": "Devuelve el estado de la API.",
        "responses": {
          "200": {
            "description": "Devuelve el estado de la API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                }
              }
            }
          }
        },
        "operationId": "get-estado"
      }
    },
    "/v1/cotizaciones": {
      "get": {
        "summary": "Cotizaciones",
        "tags": [
          "Cotización actual Monedas"
        ],
        "description": "Devuelve la cotización de todas las monedas.",
        "responses": {
          "200": {
            "description": "Devuelve todas las cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cotizacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-cotizaciones"
      }
    },
    "/v1/cotizaciones/eur": {
      "get": {
        "summary": "Euro",
        "tags": [
          "Cotización actual Monedas"
        ],
        "description": "Cotización del Euro en el mercado.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Euro",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-cotizacion-eur"
      }
    },
    "/v1/cotizaciones/brl": {
      "get": {
        "summary": "Real Brasileño",
        "tags": [
          "Cotización actual Monedas"
        ],
        "description": "Cotización del Real Brasileño en el mercado.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Real Brasileño",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-cotizacion-brl"
      }
    },
    "/v1/cotizaciones/clp": {
      "get": {
        "summary": "Peso Chileno",
        "tags": [
          "Cotización actual Monedas"
        ],
        "description": "Cotización del Peso Chileno en el mercado.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Peso Chileno",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-cotizacion-clp"
      }
    },
    "/v1/cotizaciones/uyu": {
      "get": {
        "summary": "Peso Uruguayo",
        "tags": [
          "Cotización actual Monedas"
        ],
        "description": "Cotización del Peso Uruguayo en el mercado.",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Peso Uruguayo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-cotizacion-uyu"
      }
    }
  },
  "components": {
    "schemas": {
      "Cotizacion": {
        "title": "Cotizacion",
        "type": "object",
        "x-stoplight": {
          "id": "ce96aa7960850"
        },
        "x-examples": {
          "Example 1": {
            "fechaActualizacion": "2021-01-01T00:00:00.000Z",
            "compra": 123.99,
            "venta": 132.99
          }
        },
        "properties": {
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          },
          "casa": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "moneda": {
            "type": "string"
          },
          "fechaActualizacion": {
            "type": "string"
          }
        },
        "required": [
          "venta",
          "casa",
          "nombre",
          "moneda",
          "fechaActualizacion"
        ]
      },
      "CotizacionAmbito": {
        "title": "CotizacionAmbito",
        "type": "object",
        "properties": {
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          },
          "casa": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "moneda": {
            "type": "string"
          },
          "variacion": {
            "type": "number"
          },
          "fechaActualizacion": {
            "type": "string"
          }
        },
        "required": [
          "venta",
          "casa",
          "nombre",
          "moneda",
          "variacion",
          "fechaActualizacion"
        ]
      },
      "Estado": {
        "title": "Estado",
        "x-stoplight": {
          "id": "ogwpb2wxiqwqh"
        },
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "aleatorio": {
            "type": "integer"
          }
        },
        "x-examples": {
          "Example 1": {
            "estado": "Disponible",
            "aleatorio": 1234
          }
        }
      }
    }
  }
}
