@import "stoplight-elements.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-prose: 'Inter', sans-serif;
    --color-success: #dbeafe;
    --color-on-primary: #1e40af; /* GET badge */
    --color-text-primary: #3730a3; /* Primary text */
    --color-primary-dark: #6366f1; /* Primary text hover */
    --color-text-paragraph: #020617; /* Paragraph text */
    --fs-paragraph: 1.125rem; /* Paragraph font size */
}

.sl-prose {
    --fs-paragraph: 1.125rem; /* Paragraph font size */
}

.sl-prose p a {
    @apply text-indigo-800 font-bold;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Hide Sidebar */
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div.sl-stack.sl-stack--vertical.sl-stack--6.sl-flex.sl-flex-col.sl-items-stretch {
    display: none;
}

#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-flex > div.sl-flex.sl-overflow-y-auto.sl-flex-col.sl-sticky.sl-inset-y-0.sl-pt-8.sl-bg-canvas-100.sl-border-r {
    display: none;
    width: 0 !important;
}

/* Hide Resize Cursor for Sidebar */
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-flex > div.sl-flex.sl-flex-grow-0.sl-flex-shrink-0.sl-justify-self-end.sl-resize-x {
    display: none;
}

/* Reduce padding of Main Content */
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-bg-canvas {
    padding: 0 1rem !important;
    @screen sm {
        padding: 0 2rem !important;
    }
}

/*Center Main Content*/
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div {
    @apply mx-auto;
}

/* Main Content */
div[data-testid="two-column-left"] {
    width: 100% !important;
    @screen sm {
        width: 50% !important;
    }
}

div[data-testid="two-column-right"] {
    width: 100% !important;
    @screen sm {
        width: 50% !important;
    }
}

/* Wrap just on mobile */
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div:nth-child(2) {
    flex-wrap: wrap;
    @screen sm {
        flex-wrap: nowrap;
    }
}

/*#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div:nth-child(2) > div.sl-flex-1.sl-w-0 {*/
/*    width: 100%;*/
/*}*/
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div:nth-child(2) > div.sl-relative.sl-w-2\/5.sl-ml-16 {
    margin: 0;
    max-width: 100% !important;
    @screen sm {
        padding-left: 2rem;
        width: 100%;
    }
}

/* Try It section */
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div:nth-child(2) > div.sl-relative.sl-w-2\/5.sl-ml-16 > div > div.sl-inverted > div > div > div {
    @apply rounded-none bg-white p-0
}

#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div:nth-child(2) > div.sl-relative.sl-w-2\/5.sl-ml-16 > div > div.sl-inverted > div > div.TryItPanel.sl-bg-canvas-100.sl-rounded-lg > div > div > button {

    @apply bg-black hover:bg-gray-800 text-white font-bold px-6 py-4 rounded

}

/* Try it section - Response background */
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div:nth-child(2) > div.sl-relative.sl-w-2\/5.sl-ml-16 > div > div.sl-inverted > div {
    @apply rounded-none;
}

/* Try it section - Response header */
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div:nth-child(2) > div.sl-relative.sl-w-2\/5.sl-ml-16 > div > div.sl-inverted > div > div.sl-panel.sl-outline-none.sl-w-full > div.sl-panel__titlebar.sl-flex.sl-items-center.sl-relative.focus\:sl-z-10.sl-text-base.sl-leading-none.sl-pr-3.sl-pl-3.sl-bg-canvas-200.sl-text-body.sl-border-input.focus\:sl-border-primary.sl-cursor-pointer.sl-select-none {
    @apply mt-2 rounded-none bg-gray-800;
}

/* Try it section - Response body */
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div:nth-child(2) > div.sl-relative.sl-w-2\/5.sl-ml-16 > div > div.sl-inverted > div > div.sl-panel.sl-outline-none.sl-w-full > div.sl-panel__content-wrapper.sl-bg-canvas-100 {
    @apply rounded-none bg-gray-900;
}
