@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-font-family-base: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/**
  Nav
 */
.VPImage.logo {
  @apply w-8 h-8;
}

/**
  Sidebar
 */
/*.pager-link .SidebarItem {*/
/*  @apply justify-end;*/
/*}*/
.VPSidebarItem .is-link:hover {
  @apply bg-gray-200 text-gray-900 dark:bg-gray-800 dark:text-gray-100 rounded;
}
.VPSidebarItem .is-link {
    @apply text-gray-500 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-800 rounded;
}
.VPSidebarItem .is-active {
  @apply bg-gray-200 text-gray-900 dark:bg-gray-800 dark:text-gray-100 rounded;
}
.SidebarItem {
  @apply flex flex-row items-center w-full px-2 space-x-1;
}
.SidebarItem-badge {
  @apply px-1 py-0.5 bg-green-100 text-green-800 dark:bg-green-800 dark:text-green-100 text-xs rounded;
}
.SidebarItem-text {
  @apply truncate max-w-[170px] text-gray-800 dark:text-gray-100;
}
.VPSidebarItem .is-active .SidebarItem-text {
  @apply font-semibold;
}
