{
  "openapi": "3.0.0",
  "info": {
    "title": "DolarApi.com",
    "version": "1.1.0",
    "description": "<div class=\"flex flex-col\">\n\n  API desarrollada en <a href=\"https://es.js.org?ref=dolarapi.com\" target=\"_blank\">EsJS</a> que brinda información actualizada sobre las cotizaciones del Dólar en Uruguay.\n\n  ¿Encontraste útil esta API? <strong>¡Dejá tu ⭐ en <a href=\"https://github.com/enzonotario/esjs-dolar-api\" alt=\"GitHub\" target=\"_blank\">GitHub</a>!</strong>\n\n## Demo\n[App.DolarApi.com](https://app.dolarapi.com)"
  },
  "servers": [
    {
      "url": "https://uy.dolarapi.com",
      "description": "Producción"
    },
    {
      "url": "http://localhost:5173",
      "description": "Local"
    }
  ],
  "paths": {
    "/v1/cotizaciones/usd": {
      "get": {
        "summary": "Dólar",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización del dólar estadounidense en pesos uruguayos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar Estadounidense",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-usd-uyu",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/cotizaciones/usd"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/cotizaciones/usd\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/cotizaciones/usd\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/cotizaciones/usd\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/cotizaciones/usd\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/eur": {
      "get": {
        "summary": "Euro",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización del euro en pesos uruguayos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Euro",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-eur-uyu",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/cotizaciones/eur"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/cotizaciones/eur\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/cotizaciones/eur\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/cotizaciones/eur\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/cotizaciones/eur\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/ars": {
      "get": {
        "summary": "Peso Argentino",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización del peso argentino en pesos uruguayos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Peso Argentino",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-ars-uyu",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/cotizaciones/ars"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/cotizaciones/ars\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/cotizaciones/ars\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/cotizaciones/ars\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/cotizaciones/ars\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/brl": {
      "get": {
        "summary": "Real Brasileño",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización del real brasileño en pesos uruguayos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Real Brasileño",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-brl-uyu",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/cotizaciones/brl"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/cotizaciones/brl\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/cotizaciones/brl\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/cotizaciones/brl\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/cotizaciones/brl\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/chf": {
      "get": {
        "summary": "Francos Suizos",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización del franco suizo en pesos uruguayos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Franco Suizo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-chf-uyu",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/cotizaciones/chf"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/cotizaciones/chf\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/cotizaciones/chf\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/cotizaciones/chf\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/cotizaciones/chf\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/gbp": {
      "get": {
        "summary": "Libra Esterlina",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización de la libra esterlina en pesos uruguayos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización de la Libra Esterlina",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-gbp-uyu",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/cotizaciones/gbp"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/cotizaciones/gbp\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/cotizaciones/gbp\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/cotizaciones/gbp\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/cotizaciones/gbp\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/pyg": {
      "get": {
        "summary": "Guaraní Paraguayo",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización del guaraní paraguayo en pesos uruguayos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Guarani Paraguayo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-pyg-uyu",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/cotizaciones/pyg"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/cotizaciones/pyg\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/cotizaciones/pyg\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/cotizaciones/pyg\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/cotizaciones/pyg\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/ui": {
      "get": {
        "summary": "Unidad Indexada",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización de la Unidad Indexada en pesos uruguayos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización de la Unidad Indexada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-ui-uyu",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/cotizaciones/ui"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/cotizaciones/ui\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/cotizaciones/ui\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/cotizaciones/ui\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/cotizaciones/ui\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/xau": {
      "get": {
        "summary": "Oro",
        "tags": [
          "Cotización actual"
        ],
        "description": "Cotización del oro en pesos uruguayos",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Oro",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-xau-uyu",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/cotizaciones/xau"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/cotizaciones/xau\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/cotizaciones/xau\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/cotizaciones/xau\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/cotizaciones/xau\")"
          }
        ]
      }
    },
    "/v1/estado": {
      "get": {
        "summary": "Estado de la API",
        "tags": [
          "API"
        ],
        "responses": {
          "200": {
            "description": "Devuelve el estado de la API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                }
              }
            }
          }
        },
        "operationId": "get-estado",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://uy.dolarapi.com/v1/estado"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://uy.dolarapi.com/v1/estado\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://uy.dolarapi.com/v1/estado\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://uy.dolarapi.com/v1/estado\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://uy.dolarapi.com/v1/estado\")"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Cotizacion": {
        "title": "Cotizacion",
        "type": "object",
        "x-stoplight": {
          "id": "ce96aa7960850"
        },
        "x-examples": {
          "Example 1": {
            "fechaActualizacion": "2021-01-01T00:00:00.000Z",
            "compra": 123.99,
            "venta": 132.99
          }
        },
        "properties": {
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          },
          "nombre": {
            "type": "string"
          },
          "moneda": {
            "type": "string"
          },
          "fechaActualizacion": {
            "type": "string"
          }
        },
        "required": [
          "venta",
          "nombre",
          "moneda",
          "fechaActualizacion"
        ]
      },
      "Estado": {
        "title": "Estado",
        "x-stoplight": {
          "id": "ogwpb2wxiqwqh"
        },
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "aleatorio": {
            "type": "integer"
          }
        },
        "x-examples": {
          "Example 1": {
            "estado": "Disponible",
            "aleatorio": 1234
          }
        }
      }
    }
  }
}
