{
  "openapi": "3.0.0",
  "info": {
    "title": "DolarApi.com",
    "version": "1.1.0",
    "description": "<div class=\"flex flex-col\">\n\n  API desarrollada en <a href=\"https://es.js.org?ref=dolarapi.com\" target=\"_blank\">EsJS</a> que brinda información actualizada sobre las cotizaciones del Dólar en Chile.\n\n  ¿Encontraste útil esta API? <strong>¡Dejá tu ⭐ en <a href=\"https://github.com/enzonotario/esjs-dolar-api\" alt=\"GitHub\" target=\"_blank\">GitHub</a>!</strong>\n\n## Demo\n[App.DolarApi.com](https://app.dolarapi.com)"
  },
  "servers": [
    {
      "url": "https://cl.dolarapi.com",
      "description": "Producción"
    },
    {
      "url": "http://localhost:5173",
      "description": "Local"
    }
  ],
  "paths": {
    "/v1/cotizaciones/usd": {
      "get": {
        "summary": "USD / CLP",
        "tags": ["Cotización actual"],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Dólar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cotizacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-usd-clp",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://cl.dolarapi.com/v1/cotizaciones/usd"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://cl.dolarapi.com/v1/cotizaciones/usd\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://cl.dolarapi.com/v1/cotizaciones/usd\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://cl.dolarapi.com/v1/cotizaciones/usd\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://cl.dolarapi.com/v1/cotizaciones/usd\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/eur": {
      "get": {
        "summary": "EUR / CLP",
        "tags": ["Cotización actual"],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Euro",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-eur-clp",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://cl.dolarapi.com/v1/cotizaciones/eur"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://cl.dolarapi.com/v1/cotizaciones/eur\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://cl.dolarapi.com/v1/cotizaciones/eur\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://cl.dolarapi.com/v1/cotizaciones/eur\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://cl.dolarapi.com/v1/cotizaciones/eur\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/brl": {
      "get": {
        "summary": "BRL / CLP",
        "tags": ["Cotización actual"],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Real Brasileño",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-brl-clp",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://cl.dolarapi.com/v1/cotizaciones/brl"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://cl.dolarapi.com/v1/cotizaciones/brl\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://cl.dolarapi.com/v1/cotizaciones/brl\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://cl.dolarapi.com/v1/cotizaciones/brl\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://cl.dolarapi.com/v1/cotizaciones/brl\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/ars": {
      "get": {
        "summary": "ARS / CLP",
        "tags": ["Cotización actual"],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Peso Chileno",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-ars-clp",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://cl.dolarapi.com/v1/cotizaciones/ars"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://cl.dolarapi.com/v1/cotizaciones/ars\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://cl.dolarapi.com/v1/cotizaciones/ars\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://cl.dolarapi.com/v1/cotizaciones/ars\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://cl.dolarapi.com/v1/cotizaciones/ars\")"
          }
        ]
      }
    },
    "/v1/cotizaciones/uyu": {
      "get": {
        "summary": "UYU / CLP",
        "tags": ["Cotización actual"],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve la cotización del Peso Uruguayo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-uyu-clp",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://cl.dolarapi.com/v1/cotizaciones/uyu"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://cl.dolarapi.com/v1/cotizaciones/uyu\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://cl.dolarapi.com/v1/cotizaciones/uyu\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://cl.dolarapi.com/v1/cotizaciones/uyu\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://cl.dolarapi.com/v1/cotizaciones/uyu\")"
          }
        ]
      }
    },
    "/v1/estado": {
      "get": {
        "summary": "Estado de la API",
        "tags": ["API"],
        "responses": {
          "200": {
            "description": "Devuelve el estado de la API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                }
              }
            }
          }
        },
        "operationId": "get-estado",
        "x-code-samples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET https://cl.dolarapi.com/v1/estado"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "fetch(\"https://cl.dolarapi.com/v1/estado\")\n  .then(response => response.json())\n  .then(data => console.log(data));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (axios)",
            "source": "axios.get(\"https://cl.dolarapi.com/v1/estado\")\n  .then(response => console.log(response.data));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nresponse = requests.get(\"https://cl.dolarapi.com/v1/estado\")\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "file_get_contents(\"https://cl.dolarapi.com/v1/estado\")"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Cotizacion": {
        "title": "Cotizacion",
        "type": "object",
        "x-stoplight": {
          "id": "ce96aa7960850"
        },
        "x-examples": {
          "Example 1": {
            "fechaActualizacion": "2021-01-01T00:00:00.000Z",
            "compra": 123.99,
            "venta": 132.99
          }
        },
        "properties": {
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          },
          "nombre": {
            "type": "string"
          },
          "moneda": {
            "type": "string"
          },
          "fechaActualizacion": {
            "type": "string"
          }
        },
        "required": ["venta", "nombre", "moneda", "fechaActualizacion"]
      },
      "Estado": {
        "title": "Estado",
        "x-stoplight": {
          "id": "ogwpb2wxiqwqh"
        },
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "aleatorio": {
            "type": "integer"
          }
        },
        "x-examples": {
          "Example 1": {
            "estado": "Disponible",
            "aleatorio": 1234
          }
        }
      }
    }
  }
}
